[Unit]
Description=Load wifi module
After=droid-hal-init.service
Conflicts=shutdown.target actdead.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/droid/wlan.sh


[Install]
WantedBy=network.target
